<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Автомобильные инциденты</title>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">description</th>
            <th scope="col">address</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="accident : ${accidents}">
            <td th:text="${accident.id}"/>
            <td th:text="${accident.name}"/>
            <td th:text="${accident.description}"/>
            <td th:text="${accident.address}"/>
            <td><a class="btn btn-dark w-75"
                   th:href="@{|/updateAccident?id=${accident.id}|}">Редактировать заявку</a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-9"></div>
        <div class="col-2">
            <a class="btn btn-info w-100"
               th:href="@{/createAccident}">Подать заявку</a>
        </div>
    </div>
</div>
</body>
</html>